@model List<DirectoryApp.Core.Entities.ReportResult>
@using DirectoryApp.Web.Definitions

@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Reports</h5>





                @if (Model.Any())
                {
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Request Date</th>
                                <th>Created Date</th>
                                <th>Status</th>
                                <th></th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>@item.RequestDateTime</td>

                                    @if (item.ReportStatus == "Tamamlandı")
                                    {

                                        <td>@item.CreationDateTime</td>

                                    }

                                    else
                                    {

                                        <td></td>
                                    }



                                    <td>@item.ReportStatus</td>
                                    <td class="text-center">

                                        @if (item.ReportStatus == "Tamamlandı")
                                        {

                                            <a href="/reports/@item.FileLocation" class="btn btn-success" target="_blank">Download</a>

                                        }

                                        else
                                        {

                                            <a class="btn btn-danger" disabled style="color:white;" target="_blank">Download</a>
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        Record not found
                    </div>
                }
            </div>
        </div>
    </div>
</div>
