@model PersonUpdateInput
<div class="row">
    <div class="col-md-8 offset-md-2">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Update person </h5>

                <form asp-controller="Home" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>

                    <input asp-for="PersonId" type="hidden" />

                    <div class="mb-3">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" class="form-control" autocomplete="off" required />
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-control" autocomplete="off" required />
                        <span class="text-danger" asp-validation-for="LastName"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Company" class="form-label"></label>
                        <input asp-for="Company" class="form-control" autocomplete="off" required />
                        <span class="text-danger" asp-validation-for="Company"></span>
                    </div>



                    <button type="submit" class="btn btn-primary">Save</button>
                </form>

                <h5 style="margin-top:20px;margin-bottom:20px;">Contact Information</h5>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Contact Type</th>
                            <th scope="col">Contact Value</th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var contactInformation in Model.ContactInformations)
                        {
                            <tr>
                                <td>@contactInformation.ContactType</td>
                                <td>@contactInformation.ContactValue</td>
                                <td><a asp-controller="ContactInformation" asp-action="Remove" asp-route-id="@contactInformation.ContactInformationId" asp-route-personId="@Model.PersonId" class="btn btn-danger btn-sm">Delete</a></td>

                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>